*{
    margin: 0;
    padding: 0;
}
body{
    min-width: 980px;
    min-height: 1386px;
}
.header{
    width: 980px;
    height: 63px;
    margin: 0 auto;
}
.header .logo{
    width: 110px;
    height: 61px;
    background-color: #ff0078;
    margin-left: 44px;
}
.header .logo p{
    color: #fff;
    font-size: 12px;
    padding-left: 5px;
    padding-top: 45px;
}
.header .day{
    float: right;
    padding-right: 45px;
    margin-top: -15px;
    font-size: 12px;
    color: #d45d5c;
}
.header .line_1{
    width: 892px;
    height: 2px;
    background-color: #938e88;
    margin-left: auto;
    margin-right: auto;
}
.content{
    width: 980px;
    height: 1250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.content .top{
    width: 900px;
    height: 301px;
    margin: 0 auto;
}
.content .top .img{
    float: left;
    position: relative;
    width: 641px;
    height: 301px;
}
.content .top .img > img{
    width: 100%;
    height: 100%;
}
.content .top .img:before{
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    width: 191px;
    height: 301px;
    background-color: green;
    opacity: 0.3;
}
.content .top .img:after{
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    display: block;
    width: 191px;
    height: 301px;
    background-color: red;
    opacity: 0.3;
}
.about_technologe{
    float: right;
    width: 203px;
    height: 340px;
    border-top: 2px solid #cc8099;
}
.about_technologe > h3{
    text-decoration: underline;
    font-size: 24px;
}
.about_technologe .h3{
    margin-top: 20px;
    line-height: 40px;
}
.about_technologe .about{
    font-size: 12px;
    color: #676767;
    line-height: 10px;
}
.about_technologe .big_num{
    font-size: 116px;
    font-style: oblique;
    color: #75b86b;
}
.about_technologe .media_num{
    float: left;
    font-size: 55px;
    color: #cc8091;
    margin-top: 10px;
}
.about_technologe .small_num{
    float: left;
    color: #cc8091;
    line-height: 12px;
    margin-top: 35px;
    margin-left: 10px;
}
.about_technologe .small_num .css{
    font-size: 21px;
}
.middle{
    margin-top: 30px;
    float: left;
}
.middle .what > p,.middle .when > p,.middle .how > p{
    font-size: 12px;
    color: #767777;
    line-height: 16px;
}
.what{
    float: left;
    width: 210px;
    margin-left: 40px;
    margin-right: 20px;
}
.page_1{
    font-size: 16px;
    font-weight: bold;
    color: #418c59;
    text-decoration: underline;
}
.page_2{
    font-size: 16px;
    font-weight: bold;
    color: #d2994f;
    text-decoration: underline;
}
.page_3{
    font-size: 16px;
    font-weight: bold;
    color: #cc7680;
    text-decoration: underline;
}
.when{
    float: left;
    width: 210px;
    margin-right: 20px;
}
.how{
    float: right;
    width: 210px;
}
.how > ul{
    margin-top: 20px;
    list-style: none;
    font-size: 12px;
    color: #231815;
    line-height: 16px;
    opacity: 0.7;
}
.how > ul > li > span{
    font-size: 12px;
    color: #cd4a48;
    font-style: oblique;
    line-height: 16px;
    opacity: 0.7;
}
.bottom{
    float: left;
    width: 900px;
    height: 301px;
    margin-left: 40px;
    margin-top: 60px;
}
.bottom_left{
    float: left;
    width: 415px;
}
.head{
    border-bottom: 2px solid #11456b;
    margin-bottom: 40px;
}
.head > p{
    color: #11456b;
    font-size: 42px;
    font-weight: bold;
    line-height: 40px;
}
.head > p > span{
    color: #f5e327;
    font-weight: bold;
    font-size: 72px;
    font-style: oblique;
}
.head > h1{
    color: #11456b;
    font-size: 33px;
    font-weight: bold;
    margin-bottom: 15px;
}
.text p{
    font-size: 12px;
    line-height: 16px;
    color: #767777;
}
.text .b_text{
    text-indent: 0;
    float: left;
    font-size: 70px;
    color: #f5e327;
    line-height: 1;
    padding-right: 5px;
    width: 70px;
    height: 70px;
    vertical-align: top;
}
.text .p1 img{
    padding: 10px;
    float: right;
    width: 165px;
    height: 310px;
}
.bottom_right{
    float: right;
}
.img{
    width: 458px;
    height: 275px;
}
.img > img{
    width: 100%;
    height: 100%;
}
.bottom_right .img .img_bottom{
    width: 458px;
    height: 61px;
    background-color: black;
    opacity: 0.5;
    margin-top: -64px;
}
.v1{
    width: 3px;
    height: 44px;
    background-color: #72b16a;
    float: left;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 15px;
}
.v2{
    color: white;
    font-size: 26px;
    line-height: 60px;
    float: left;
}
.v3{
    color: #72b16a;
    float: left;
    font-size: 12px;
    font-style: oblique;
    padding-left: 10px;
    padding-top: 30px;
    letter-spacing: 1px;
}
.box{
    width: 459px;
    height: 318px;
    background-color: #dbd6d0;
    margin-top: 30px;
}
.box ul{
    list-style: none;
    margin-left: 20px;
}
.box > ul > li{
    padding-top: 20px;
    color: #5a5b5b;
    font-size: 16px;
}
.box > ul > li >span{
    font-size: 12px;
    font-style: oblique;
}
.box ul li em{
    display:block;
    font:0/0 "ו";
    border: 6px solid;
    border-color:#dbd6d0 #dbd6d0 #11456b #dbd6d0;
    float:left;
    margin-top:5px
}
.box_inner{
    margin-top: 23px;
    width: 260px;
    height: 160px;
    background-color: #ff0078;
}
.zero{
    float: left;
    width: 60px;
    height: 120px;
    color: white;
    font-size: 110px;
    border-right: 2px solid white;
    margin-left: 10px;
    margin-top: 25px;
}
.box_inner > p{
    float: right;
    color: white;
    font-size: 21px;
    font-style: oblique;
    line-height: 24px;
    margin-right: 20px;
    margin-top: 40px;
}
.box_inner > p >span{
    font-size: 12px;
    font-style: normal;
    line-height: 6px;
}
.hello{
    width: 160px;
    float: right;
    font-size: 12px;
    font-style: oblique;
    margin-top: -150px;
    margin-right: 20px;
}
.hello > p > span:first-of-type{
    font-size: 72px;
    color:  #ff0078;
    margin-top: -20px;
    margin-left: -20px;
    float: left;
}
.hello > p > span:last-of-type{
    font-size: 72px;
    margin-top: -10px;
    color:  #ff0078;
    float: right;
}
.footer{
    width: 892px;
    height: 50px;
    border-top: 1px solid #938e8c;
    margin-left: auto;
    margin-right: auto;
}
.footer > p{
    float: right;
    font-size: 12px;
    color: #d45d5c;
}